<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_tipologia">
	{$id_tipologia_editcontrol}
	</control>
	<control 
	field="nome">
	{$nome_editcontrol}
	</control>
	<control 
	field="cognome">
	{$cognome_editcontrol}
	</control>
	<control 
	field="email">
	{$email_editcontrol}
	</control>
	<control 
	field="password">
	{$password_editcontrol}
	</control>
	<control 
	field="data_registrazione">
	{$data_registrazione_editcontrol}
	</control>
	<control 
	field="ip_registrazione">
	{$ip_registrazione_editcontrol}
	</control>
	<control 
	field="numero_login">
	{$numero_login_editcontrol}
	</control>
	<control 
	field="ip_ultimo_login">
	{$ip_ultimo_login_editcontrol}
	</control>
	<control 
	field="attivo">
	{$attivo_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
