<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_id}
			<a href="#" id="addSearchControl_id" class="addSearchControl" {$addSearchControl_id_attrs}>Id</a><br>
		{END addSearch_id}
		{BEGIN addSearch_id_tipologia}
			<a href="#" id="addSearchControl_id_tipologia" class="addSearchControl" {$addSearchControl_id_tipologia_attrs}>Id Tipologia</a><br>
		{END addSearch_id_tipologia}
		{BEGIN addSearch_nome}
			<a href="#" id="addSearchControl_nome" class="addSearchControl" {$addSearchControl_nome_attrs}>Nome</a><br>
		{END addSearch_nome}
		{BEGIN addSearch_cognome}
			<a href="#" id="addSearchControl_cognome" class="addSearchControl" {$addSearchControl_cognome_attrs}>Cognome</a><br>
		{END addSearch_cognome}
		{BEGIN addSearch_email}
			<a href="#" id="addSearchControl_email" class="addSearchControl" {$addSearchControl_email_attrs}>Email</a><br>
		{END addSearch_email}
		{BEGIN addSearch_password}
			<a href="#" id="addSearchControl_password" class="addSearchControl" {$addSearchControl_password_attrs}>Password</a><br>
		{END addSearch_password}
		{BEGIN addSearch_data_registrazione}
			<a href="#" id="addSearchControl_data_registrazione" class="addSearchControl" {$addSearchControl_data_registrazione_attrs}>Data Registrazione</a><br>
		{END addSearch_data_registrazione}
		{BEGIN addSearch_ip_registrazione}
			<a href="#" id="addSearchControl_ip_registrazione" class="addSearchControl" {$addSearchControl_ip_registrazione_attrs}>Ip Registrazione</a><br>
		{END addSearch_ip_registrazione}
		{BEGIN addSearch_numero_login}
			<a href="#" id="addSearchControl_numero_login" class="addSearchControl" {$addSearchControl_numero_login_attrs}>Numero Login</a><br>
		{END addSearch_numero_login}
		{BEGIN addSearch_ip_ultimo_login}
			<a href="#" id="addSearchControl_ip_ultimo_login" class="addSearchControl" {$addSearchControl_ip_ultimo_login_attrs}>Ip Ultimo Login</a><br>
		{END addSearch_ip_ultimo_login}
		{BEGIN addSearch_attivo}
			<a href="#" id="addSearchControl_attivo" class="addSearchControl" {$addSearchControl_attivo_attrs}>Attivo</a><br>
		{END addSearch_attivo}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
