<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="invia">
	{$invia_editcontrol}
	</control>
	<control 
	field="ricevi">
	{$ricevi_editcontrol}
	</control>
	<control 
	field="messaggio">
	{$messaggio_editcontrol}
	</control>
	<control 
	field="soggetto">
	{$soggetto_editcontrol}
	</control>
	<control 
	field="data">
	{$data_editcontrol}
	</control>
	<control 
	field="aperta">
	{$aperta_editcontrol}
	</control>
	<control 
	field="vista_invia">
	{$vista_invia_editcontrol}
	</control>
	<control 
	field="vista_ricevi">
	{$vista_ricevi_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
