<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Pg Personaggi: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Id</th>
			<th class="runner-cc ">Id Utente</th>
			<th class="runner-cc ">Id Posto</th>
			<th class="runner-cc ">Nome</th>
			<th class="runner-cc ">Status</th>
			<th class="runner-cc ">Att</th>
			<th class="runner-cc ">Def</th>
			<th class="runner-cc ">Cha</th>
			<th class="runner-cc ">Mov</th>
			<th class="runner-cc ">Mov Rimanenti</th>
			<th class="runner-cc ">Mov Last Reset Time</th>
			<th class="runner-cc ">Pf</th>
			<th class="runner-cc ">Pf Rimanenti</th>
			<th class="runner-cc ">Pf Last Reset Time</th>
			<th class="runner-cc ">Lev</th>
			<th class="runner-cc ">Xp</th>
			<th class="runner-cc ">Xp Next</th>
			<th class="runner-cc runner-clast">Id Gilda</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$id_mastervalue}</td>
			<td class="runner-cc ">{$id_utente_mastervalue}</td>
			<td class="runner-cc ">{$id_posto_mastervalue}</td>
			<td class="runner-cc ">{$nome_mastervalue}</td>
			<td class="runner-cc ">{$status_mastervalue}</td>
			<td class="runner-cc ">{$att_mastervalue}</td>
			<td class="runner-cc ">{$def_mastervalue}</td>
			<td class="runner-cc ">{$cha_mastervalue}</td>
			<td class="runner-cc ">{$mov_mastervalue}</td>
			<td class="runner-cc ">{$mov_rimanenti_mastervalue}</td>
			<td class="runner-cc ">{$mov_last_reset_time_mastervalue}</td>
			<td class="runner-cc ">{$pf_mastervalue}</td>
			<td class="runner-cc ">{$pf_rimanenti_mastervalue}</td>
			<td class="runner-cc ">{$pf_last_reset_time_mastervalue}</td>
			<td class="runner-cc ">{$lev_mastervalue}</td>
			<td class="runner-cc ">{$xp_mastervalue}</td>
			<td class="runner-cc ">{$xp_next_mastervalue}</td>
			<td class="runner-cc runner-clast">{$id_gilda_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>