<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id_utente">
	{$id_utente_editcontrol}
	</control>
	<control field="id_posto">
	{$id_posto_editcontrol}
	</control>
	<control field="nome">
	{$nome_editcontrol}
	</control>
	<control field="status">
	{$status_editcontrol}
	</control>
	<control field="att">
	{$att_editcontrol}
	</control>
	<control field="def">
	{$def_editcontrol}
	</control>
	<control field="cha">
	{$cha_editcontrol}
	</control>
	<control field="mov">
	{$mov_editcontrol}
	</control>
	<control field="mov_rimanenti">
	{$mov_rimanenti_editcontrol}
	</control>
	<control field="mov_last_reset_time">
	{$mov_last_reset_time_editcontrol}
	</control>
	<control field="pf">
	{$pf_editcontrol}
	</control>
	<control field="pf_rimanenti">
	{$pf_rimanenti_editcontrol}
	</control>
	<control field="pf_last_reset_time">
	{$pf_last_reset_time_editcontrol}
	</control>
	<control field="lev">
	{$lev_editcontrol}
	</control>
	<control field="xp">
	{$xp_editcontrol}
	</control>
	<control field="xp_next">
	{$xp_next_editcontrol}
	</control>
	<control field="id_gilda">
	{$id_gilda_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>