<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="id_regione">
	{$id_regione_editcontrol}
	</control>
	<control 
	field="citta">
	{$citta_editcontrol}
	</control>
	<control 
	field="nome_it">
	{$nome_it_editcontrol}
	</control>
	<control 
	field="nome_en">
	{$nome_en_editcontrol}
	</control>
	<control 
	field="descrizione_it">
	{$descrizione_it_editcontrol}
	</control>
	<control 
	field="descrizione_en">
	{$descrizione_en_editcontrol}
	</control>
	<control 
	field="storia_it">
	{$storia_it_editcontrol}
	</control>
	<control 
	field="storia_en">
	{$storia_en_editcontrol}
	</control>
	<control 
	field="back_it">
	{$back_it_editcontrol}
	</control>
	<control 
	field="back_en">
	{$back_en_editcontrol}
	</control>
	<control 
	field="note_it">
	{$note_it_editcontrol}
	</control>
	<control 
	field="note_en">
	{$note_en_editcontrol}
	</control>
	<control 
	field="attivo">
	{$attivo_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
