<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="location">
	{$location_editcontrol}
	</control>
	<control 
	field="nome_it">
	{$nome_it_editcontrol}
	</control>
	<control 
	field="nome_en">
	{$nome_en_editcontrol}
	</control>
	<control 
	field="descrizione_it">
	{$descrizione_it_editcontrol}
	</control>
	<control 
	field="descrizione_en">
	{$descrizione_en_editcontrol}
	</control>
	<control 
	field="attivo">
	{$attivo_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
